body{
    background-color: black;
}
h1 {
text-align: center;
color: blanchedalmond;
font-family: 'Times New Roman', Times, serif;
font-size: 50px;
}

h2{
text-align: left;
color: blanchedalmond;
font-family: 'Times New Roman', Times, serif;
font-size: 40px;
}

h3{
    text-align: left;
color: blanchedalmond;
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
}

.img{
width: 20%;
height: 40%;
}